@font-face {
  font-family: noto;
  src:url("../fonts/NotoSansTaiViet-Regular.ttf");
}

html,body,h1,h2,h3,h4,h5 {font-family: "noto", sans-serif}

.nortification-table {
  position: fixed;
  max-width: 300px;
  right: 0;
  opacity: 0;
  transition: opacity 1s;
  visibility: hidden;
  cursor: pointer;
  z-index: 10;
}

.nortification-btn {
  position: fixed;
  right: 0;
  z-index: 10;
}
